#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/cairo-qml-clock/usr/share/cairo-qml-clock
	mkdir -p debian/cairo-qml-clock/usr/bin
	mkdir -p debian/cairo-qml-clock/usr/share/applications
	cp main.qml debian/cairo-qml-clock/usr/share/cairo-qml-clock/
	cp InfoDialog.qml debian/cairo-qml-clock/usr/share/cairo-qml-clock/
	cp PropertiesDialog.qml debian/cairo-qml-clock/usr/share/cairo-qml-clock/
	cp -r themes debian/cairo-qml-clock/usr/share/cairo-qml-clock/
	cp cairo-qml-clock.desktop debian/cairo-qml-clock/usr/share/applications/
	mkdir -p debian/cairo-qml-clock/usr/share/metainfo
	cp cairo-qml-clock.metainfo.xml debian/cairo-qml-clock/usr/share/metainfo/
	printf '#!/bin/bash\nQML=/usr/lib/qt6/bin/qml\nQML_XHR_ALLOW_FILE_READ=1 $$QML /usr/share/cairo-qml-clock/main.qml &\nsleep 1\nwmctrl -r "Cairo Clock" -b add,sticky\nxdotool search --name "Cairo Clock" set_desktop_for_window 0xffffffff\nwait\n' > debian/cairo-qml-clock/usr/bin/cairo-qml-clock
	chmod 755 debian/cairo-qml-clock/usr/bin/cairo-qml-clock
